:root {
	--BG_COLOR: #291f1b;
	--INPUT_COLOR: #1d1515;
	--TEXT_COLOR: #a19279;
	--MAIN_TEXT_COLOR: #e7ded0;

	--BRAND_COLOR: #583d18;
	--BRAND_COLOR_LIGHT: #7e6617;
	--BRAND_COLOR_HEADER: #ce8116;


	--BRAND_COLOR_SHADOW: #456;
	--BRAND_COLOR_DARK: #3a2314;
	--BRAND_COLOR_SHINE: #c5ac3e;

	--CREATE_COLOR: rgb(13, 104, 70);
	--DELETE_COLOR: #b55;
	--EDIT_COLOR: #37b;
	--PUBLISH_COLOR: #f84c4c;
	--UNPUBLISH_COLOR: #b83;
	--VIEW_COLOR: #0ab;

	--SUCCESS_ALERT_BG: #f2f2f2;
	--ERROR_ALERT_BG: #fee
}