.left-bar:co .admin-events-editor-body {
	margin: 30px;
}

.admin-events-editor-textarea {
	min-width: 1000px;
	min-height: 400px;
}

.admin-role-privileges-body {
	text-align: center;
	background: var(--BG_COLOR);
	padding: 30px;
}

.admin-role-privileges-block {
	display: inline-block;
	margin-bottom: 30px;
}

.admin-role-privileges-header {
	color: #aaa;
	font-size: 80%;
}

.admin-role-privileges-table {
	text-align: center;
	margin-top: 50px;
}

.admin-role-privileges-row-header {
	font-weight: bold;
	border-bottom: 1px solid #aaa;
}

.admin-role-privileges-line {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 40px;
}

.admin-role-privileges-line-header {
	text-align: right;
	vertical-align: middle;
	padding-right: 20px;
	width: 250px;
}

.admin-role-privileges-cell {
	width: 140px;
}

.admin-role-privileges-check {
	margin-left: -12px;
	margin-right: -12px;
}

.admin-role-privileges-disabled {
	color: #ccc;
}

.admin-role-privileges-enabled {
	color: #3a3;
}

.admin-role-privileges-size2 {
	font-size: 120%;
}

.admin-role-privileges-size3 {
	font-size: 140%;
}

.admin-tools-enable-btn {
	z-index: 100;
	white-space: nowrap;
	position: fixed;
	width: 200px;
	pointer-events: none;
	top: 0;
	right: 25%;
	color: #fcc;
}

.admin-tools-enable-check {
	margin: 2px;
	width: 50px;
	vertical-align: middle;
	cursor: pointer;
	pointer-events: all;
}

.admin-form-wrap {
	position: absolute;
	z-index: 3;
	height: 34px;
	align-items: center;
}

.header-tab-wrap .admin-form-wrap {
	left: 10px;
	top: -5pxen;
	font-size: 85%;
}

.field-wrap .admin-form-wrap {
	left: -26px;
	font-size: 85%;
}

.field-wrap .list-row-header .admin-form-wrap {
	right: -23px;
	position: relative;
}

.left-bar-group-container>.left-bar-admin-button>.admin-form-wrap {
	height: 22px;
}

.admin-form-wrap-visible {
	z-index: 4;
}

.admin-form-body {
	position: absolute;
	text-align: left;
	z-index: 4;
	display: inline-block;
	vertical-align: top;
	margin-top: -15px;
	margin-left: -40px;
	color: rgb(218, 218, 218);
	padding: 25px;
	border-radius: 50px;
	background: rgb(83, 50, 50);
}

.admin-control-field .admin-form-body {
	left: -30px;
}

.admin-form-open-btn {
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 8px;
	left: -20px;
	vertical-align: top;
	border-radius: 50px;
	padding: 5px;
	color: var(--BG_COLOR);
	background-color: #77303099;
}

.admin-field-open-btn {
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 8px;
	left: -0;
	vertical-align: top;
	border-radius: 50px;
	color: #d6000099;
}

.admin-form-content {
	margin-top: 5px;
	text-align: center;
	white-space: nowrap;
}

.admin-form-all-fields {
	white-space: nowrap;
	text-align: right;
	transform: scale(1.2);
	width: 540px;
	margin-top: 3px;
}

.admin-form-lock-btn {
	border-radius: 10px;
	position: absolute;
	padding: 5px;
	right: 10px;
	top: 5px;
}

.admin-form-all-fields-name {
	display: inline-block;
	width: 262px;
	text-align: right;
	position: relative;
	font-family: 'Courier New', Courier, monospace;
}

.admin-form-all-fields-name:hover {
	background-color: #a00;
}

.admin-form-all-fields-id {
	display: block;
	position: absolute;
	left: 0;
	opacity: 0.5;
}

.admin-form-btn {
	padding: 6px 15px;
}

.admin-form-all-fields-button {
	vertical-align: bottom;
}

.admin-form-header {
	font-family: monospace;
}

.admin-event-buttons-group {
	vertical-align: top;
	display: inline-block;
}

.admin-event-buttons-group button {
	text-align: left;
	width: 200px;
	color: rgb(163, 124, 132);
	border: 1px solid rgb(182, 88, 62);
	font-family: monospace;
	display: block;
}

.admin-event-buttons-group-server button {
	border: 1px solid rgb(179, 36, 36);
	padding: 2px;
}

.admin-form-open-btn.admin-button-highlighted,
.admin-event-buttons-group .admin-button-highlighted {
	color: #00dd00;
}

.admin-form-all-fields .admin-control-field .admin-form-open-btn {
	margin-right: -20px;
}

.admin-control .clickable:hover {
	background: rgb(109, 30, 34) !important;
}

.blocked-layer .admin-control {
	display: none;
}

.debug-panel-panel {
	position: fixed;
	top: 0;
	right: 330px;
	background: rgb(145, 125, 112);
	border-bottom-right-radius: 80px;
	border-bottom-left-radius: 80px;
	padding: 20px;
	color: #e7e3d4;
	z-index: 15;
	font-size: 75%;
	max-width: 70vw;
}

.debug-panel-scroll {
	overflow-y: auto;
	max-height: calc(100vh - 190px);
}

.debug-panel-item {
	background: #f4f4f4;
	margin: 8px;
	color: #887;
	padding: 14px;
	border-radius: 6px;
}

.debug-panel-background {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 14;
}

.debug-panel-sql-btn {
	padding: 2px;
	display: inline-block;
	margin: 2px;
}

.debug-panel-header {
	font-size: 140%;
	margin: 6px
}

.debug-panel-text {
	font-weight: bold;
	color: #070;
}

.debug-panel-entry {
	margin-left: 40px;
}

.debug-panel-request-header {
	font-size: 160%;
	color: #445;
}

.debug-panel-message {
	font-size: 160%;
	color: #a00;
}

.debug-panel-time {
	font-size: 140%;
	color: #040;
}

.left-bar-admin-button {
	position: absolute;
	right: 14px;
	top: 7px;
}

.left-bar-empty-section {
	padding: 15px 20px;
}

.left-bar:has(.admin-form-body) {
	overflow: visible !important;
}

.icons-selector .select-control-list {
	white-space: normal;
}

.icons-selector .select-control-item {
	display: inline-block;
	width: 120px;
	white-space: nowrap;
}

.form-item-row-num .field-container-name-id {
	font-family: monospace;
}

.field-container-id-9,
.field-container-id-54,
.field-container-id-54 {
	font-size: 120%;
	font-family: monospace;
}

.field-container-id-314 .field-container-id-311 input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	text-align: right;
	width: 400px;

}

.field-container-id-314 .field-container-id-312 input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 100px;
}