.admin-events-editor-body {
	margin: 30px;
}

.admin-events-editor-textarea {
	min-width: 1000px;
	min-height: 400px;
}

.admin-role-privileges-body {
	text-align: center;
}

.admin-role-privileges-block {
	display: inline-block;
	margin-bottom: 30px;
}

.admin-role-privileges-header {
	color: #aaa;
	font-size: 80%;
}

.admin-role-privileges-table {
	text-align: center;
	margin-top: 50px;
}

.admin-role-privileges-row-header {
	font-weight: bold;
	border-bottom: 1px solid #aaa;
}

.admin-role-privileges-line {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 40px;
}

.admin-role-privileges-line-header {
	text-align: right;
	vertical-align: middle;
	padding-right: 20px;
	width: 250px;
}

.admin-role-privileges-cell {
	width: 140px;
}

.admin-role-privileges-check {
	margin-left: -12px;
	margin-right: -12px;
}

.admin-role-privileges-disabled {
	color: #ccc;
}

.admin-role-privileges-enabled {
	color: #3a3;
}

.admin-role-privileges-size2 {
	font-size: 120%;
}

.admin-role-privileges-size3 {
	font-size: 140%;
}

.admin-tools-enable-btn {
	position: fixed;
	width: 200px;
	pointer-events: none;
	top: 0;
	right: 25%;
	color: #fcc;
}

.admin-tools-enable-check {
	margin: 2px;
	width: 50px;
	vertical-align: middle;
	cursor: pointer;
	pointer-events: all;
}

.admin-form-wrap {
	position: absolute;
	z-index: 3;
	height: 34px;
	align-items: center;
}

.field-wrap .admin-form-wrap {
	left: -26px;
	font-size: 85%;
}

.field-wrap .list-row-header .admin-form-wrap {
	right: -23px;
	position: relative;
}

.left-bar-group-container>.left-bar-admin-button>.admin-form-wrap {
	height: 22px;
}

.admin-form-wrap-visible {
	z-index: 4;
}

.admin-form-body {
	position: absolute;
	text-align: left;
	z-index: 4;

	font-size: 70%;
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
	color: rgb(61, 61, 61);
	padding: 10px;
	border-radius: 5px;
	background: rgb(212, 212, 212);
	border: 1px solid rgb(156, 156, 156);
}

.admin-control-field .admin-form-body {
	left: -30px;
}

.admin-form-open-btn {
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 8px;
	left: -20px;
	vertical-align: top;
	border-radius: 5px;
	color: #00000040;
}

.admin-field-open-btn {
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 8px;
	left: -0;
	vertical-align: top;
	border-radius: 5px;
	color: #00000040;
}

.admin-button-highlighted {
	color: #007e00;
}

.admin-form-content {
	margin-top: 5px;
	text-align: center;
	white-space: nowrap;
}

.admin-form-all-fields {
	word-wrap: none;
	text-align: right;
	transform: scale(1.2);
	width: 340px;
	margin-top: 3px;
}

.admin-form-lock-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}

.admin-form-all-fields-name {
	display: inline-block;
}

.admin-form-header {
	font-size: 130%;
}

.admin-form-btn {
	background: rgb(114, 114, 114);
	color: rgb(255, 255, 255);
	padding-left: 6px;
	padding-right: 6px;
}

.admin-form-all-fields .admin-control-field .admin-form-open-btn {
	margin-right: -20px;
}

.admin-control .clickable:hover {
	color: #def !important;
	background: #567 !important;
}

.blocked-layer .admin-control {
	display: none;
}

.debug-panel-panel {
	position: fixed;
	top: 130px;
	right: 0;
	background: rgb(165, 165, 165);
	border: 2px solid #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 0;
	padding: 10px;
	color: #fff;
	z-index: 15;
	font-size: 75%;
	max-width: 70vw;
}

.debug-panel-scroll {
	overflow-y: auto;
	max-height: calc(100vh - 190px);
}

.debug-panel-item {
	background: #f4f4f4;
	margin: 8px;
	color: #887;
	padding: 14px;
	border-radius: 6px;
}

.debug-panel-background {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 14;
}

.debug-panel-sql-btn {
	padding: 2px;
	display: inline-block;
	margin: 2px;
}

.debug-panel-header {
	font-size: 140%;
	margin: 6px
}

.debug-panel-text {
	font-weight: bold;
	color: #070;
}

.debug-panel-entry {
	margin-left: 40px;
}

.debug-panel-request-header {
	font-size: 160%;
	color: #445;
}

.debug-panel-message {
	font-size: 160%;
	color: #a00;
}

.debug-panel-time {
	font-size: 140%;
	color: #040;
}

.left-bar-admin-button {
	position: absolute;
	left: 0;
	top: 12px;
}

.left-bar-empty-section {
	padding: 15px 20px;
}

.icons-selector .select-control-list {
	white-space: normal;
}

.icons-selector .select-control-item {
	display: inline-block;
	width: 120px;
	white-space: nowrap;
}

.form-item-row-num .field-container-name-id {
	color: #ccc;
	font-size: 80%;
}

.enum-type-100 {
	font-weight: bold;
	font-size: 80%;
}

.enum-type-100.enum-val-1 {
	color: rgb(135, 128, 136);
}

.enum-type-100.enum-val-2 {
	color: #070;
}

.enum-type-100.enum-val-2 {
	color: #070;
}

.enum-type-100.enum-val-3 {
	color: rgb(135, 128, 136);
}

.enum-type-100.enum-val-4 {
	color: rgb(129, 0, 146);
}