body,
html {
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	background: var(--BG_COLOR);
	width: 100%;
	height: 100%;
	color: var(--TEXT_COLOR);
	line-height: normal;
}

body {
	overflow-y: scroll;
	overflow-y: overlay;
}

hr {
	border: 0;
	border-bottom: 1px solid #aaa;

}

h1 {
	font-size: 220%;
	font-weight: bold;
}

h2 {
	font-size: 180%;
	font-weight: bold;
}

h3 {
	font-size: 150%;
	font-weight: bold;
}

h4 {
	font-size: 120%;
	font-weight: bold;
}

.list-body tr:hover {
	background-color: var(--BRAND_COLOR_DARK);
}

.list-body tr:hover .form-item-row:first-child {
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

.list-body tr:hover .form-item-row:last-child {
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

h5 {
	font-weight: bold;
}

.brand-color {
	color: var(--BRAND_COLOR_SHINE);
}

.hidden {
	display: none !important;
}

.container {
	max-width: 1424px;
	margin: 0 auto;
}

.monospace {
	font-family: 'Courier New', Courier, monospace;
}

.centralize {
	text-align: center;
}

.left {
	text-align: left;
}

.fa {
	margin-left: 7px;
	margin-right: 7px;
}

button .fa {
	vertical-align: middle;
}

a {
	background: inherit;
	color: inherit;
}

button {
	color: #fff;
	font: inherit;
	font-size: 120%;
	margin: 3px;
	padding: 4px 15px;
	border: 0;
	border-radius: 64px;
	outline: none !important;
}

textarea,
input {
	color-scheme: dark;
	outline: none;
	border: none;
	vertical-align: middle;
	color: var(--TEXT_COLOR);
	width: 100%;
	background-color: var(--INPUT_COLOR);
	border-radius: 20px;
	padding: 0 14px;
	height: 37px;
	font-size: 28px;
	line-height: 34px;
	font: inherit;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--INPUT_COLOR);
	border-radius: 4px;
}

b {
	font-weight: bold;
}

.mark-search {
	background: #FFFF00;
}

textarea {
	padding-top: 6px;
	padding-bottom: 6px;
}

textarea:placeholder-shown,
input:placeholder-shown {
	font-size: 75%;
	line-height: 133%;
	font-weight: bold;
}

textarea::placeholder,
input::placeholder {
	color: var(--BRAND_COLOR);
}

img {
	vertical-align: middle;
}

.restricted {
	opacity: 0;
	pointer-events: none;
}

.left-bar a:link {
	text-decoration: none;
}

.left-bar a:visited {
	text-decoration: none;
}

.not-clickable {
	vertical-align: middle;
	pointer-events: none;
}

.pointer {
	cursor: pointer;
}

.clickable {
	cursor: pointer;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}

.drag:hover::after,
.drag:focus:after,
.drag:active:after,
.clickable:hover::after,
.clickable:focus:after,
.clickable:active:after {
	opacity: 0.1;
}

.drag:after,
.clickable:after {
	pointer-events: none;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.01s;
	background: #012;
}

.clickable:active {
	box-shadow: inset 0px 2px 8px -2px rgba(0, 0, 48, 0.51);
}

.drag {
	cursor: grab;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}

.draggable {
	cursor: grabbing;
}

.tool-btn {
	padding: 6px 5px;
	margin: 0;
	background: transparent;
}

.tool-btn:hover {
	background-color: var(--INPUT_COLOR);
}

.half-visible {
	opacity: 0.5;
}

.in {
	/*bootstrap popovers attached directly to body fix*/
	display: none;
}

.danger {
	color: #aa0000;
}



/* CHECKBOX */
.checkboxM {
	width: 20px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.checkboxM label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-top: 9px;
	border: 2px solid #ccc;
	border-radius: 4px;
}

.checkboxM label:after {
	filter: alpha(opacity=0);
	opacity: 0;
	content: "";
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.checkboxM label:hover:not(.disabled)::after {
	opacity: 0.3;
}

.checkboxM input[type=checkbox]:checked+label:after {
	opacity: 1;
}

.disabled {
	opacity: 0.45;
	cursor: default !important;
}

.badge {
	color: #fff;
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-bottom;
	font-weight: bold;
	font-size: 75%;
	background: #999;
	padding: 0 7px 3px;
	border-radius: 20px;
}

.success-button {
	background: var(--EDIT_COLOR);
	color: #efe;
	font-size: 90%;
	font-weight: bold;
	padding: 10px 30px;
	border: 0;
}

.danger-button {
	background: var(--DELETE_COLOR);
	color: #fee;
	font-size: 90%;
	font-weight: bold;
	padding: 10px 30px;
	border: 0;
}

.default-button {
	background: transparent;
	color: var(--BRAND_COLOR_LIGHT);
	font-size: 90%;
	font-weight: bold;
	padding: 10px 30px;
	border: 0;
}

.create-button {
	padding: 15px 40px;
	background: var(--CREATE_COLOR);
}

.field-container-type-lookup-1-to-n .create-button {
	padding: 7px 22px 7px 12px;
}

.field-container-type-lookup-1-to-n .form-full {
	font-size: 85%;
}

.default-btn {
	color: #bbb;
}

.create-btn {
	color: #fff;
	background: var(--CREATE_COLOR);
}

.danger-btn {
	color: var(--DELETE_COLOR);
}

.close-popup-wrap {
	display: none;
	text-align: right;
}

.form-layer-modal .close-popup-wrap {
	position: relative;
	right: 16px;
	display: block;
}

.close-popup-button {
	position: fixed;
	top: 40px;
}

.edit-btn {
	color: var(--EDIT_COLOR);
	background: transparent;
}

.publish-btn {
	color: var(--PUBLISH_COLOR);
	background: transparent;
}

.unpublish-btn {
	color: var(--UNPUBLISH_COLOR);
	background: transparent;
}

.view-btn {
	color: var(--VIEW_COLOR);
	background: transparent;
}

.button-small {
	font-size: 80%;
	padding: 7px 20px;
}

.alert-bg {
	display: inline-block;
	color: #a00;
	border: 1px solid #922;
	padding: 30px;
	border-radius: 4px;
}

.alert-bg-danger {
	background: var(--ERROR_ALERT_BG);
}

.alert-bg-success {
	background: var(--SUCCESS_ALERT_BG);
	color: var(--EDIT_COLOR);
	border: 1px solid var(--BRAND_COLOR);
	padding: 30px;
	border-radius: 4px;
}

.small-text {
	color: var(--BRAND_COLOR_LIGHT);
	font-size: 70%;
}

.left-bar {
	transition: width 0.5s cubic-bezier(0, 1, 0, 1);
	width: 300px;
	overflow: hidden;
}

.left-bar-collapsed {
	width: 46px;
}

.left-bar-body {
	width: 100%;
	vertical-align: top;
}

.left-bar-item {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	display: flex;
	border: 0;
	overflow: hidden;
}

.left-bar-item-body {
	text-overflow: ellipsis;
	position: relative;
	display: inline-block;
	overflow-x: hidden;
	width: calc(100% - 40px);
	white-space: nowrap;
}

.left-bar-item-doc {
	padding: 15px 11px;
	font-size: 90%;
}

.left-bar-item-home {
	border-left: none;
	font-size: 140%;
}

.left-bar-group {
	border-top: 1px solid var(--BRAND_COLOR);
	padding: 12px 11px;
	padding-right: 40px;
	font-weight: 700;
	color: var(--BRAND_COLOR_LIGHT);
	font-size: 80%;
	margin-top: 1px;
}

.left-bar-item-active {
	background: var(--BRAND_COLOR_DARK);
	border-left: 5px solid var(--CREATE_COLOR);
	padding-left: 6px;
}

.left-bar-item-icon {
	display: inline-block;
	text-align: center;
	width: 40px;
}

.left-bar-group-caret {
	display: inline-block;
	position: absolute;
	right: 11px;
}

.left-bar-tabs-header {
	font-weight: bold;
	margin: 29px 0;
	margin-left: 20px;
	color: var(--BRAND_COLOR_HEADER);
}

.left-bar-collapse-button {
	width: 50px;
	font-size: 200%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.left-bar-group-container {
	position: relative;
}

.left-bar-item-container {
	position: relative;
}

.left-bar-children>.left-bar-group-container {
	opacity: 0.9;
	margin: 5px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--BRAND_COLOR);
}

.left-bar-children>.left-bar-group-container>.left-bar-group {
	margin-top: 0;
}

.left-bar-body a:last-of-type .left-bar-item {
	border-bottom: hidden;
}

.loader-back-drop {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 15000;
	cursor: wait;
}

.loading-spinner-container {
	margin-left: -45px;
	position: fixed;
	top: 0;
	left: 50%;
	border: 2px solid #fff;
	border-top: 0;
	height: 40px;
	width: 90px;
	transition: height 0.3s, opacity 0.3s;
	overflow: hidden;
	background: #999;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	opacity: 1;
}

.loading-spinner-container-inactive {
	height: 0px;
	opacity: 0;
}

.loading-spinner {
	position: absolute;
	width: 90px;
	text-align: center;
	color: #fff;
	font-size: 170%;
	bottom: 5px;
}

.top-bar {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #fff;
	background: var(--BRAND_COLOR);
	font-size: 120%;
	text-align: center;
	z-index: 8;
}

.lite-ui .top-bar,
.lite-ui .footer {
	display: none;
}

.top-bar-logo {
	border-radius: 30px;
	margin-left: 10px;
	display: block;
}

.top-bar-user-container {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.top-bar-user-container .select-control-wrapper {
	flex-shrink: 100;
}

.top-bar-user-org-select {
	position: relative;
	width: 100%;
	height: 32px;
	padding: 2px 8px;
	color: var(--TEXT_COLOR);
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	cursor: pointer;
}

.top-bar-user-multilingual {
	display: inline-block;
	margin-right: 12px;
	border-radius: 4px;
	border: 1px solid var(--BRAND_COLOR_DARK);
	color: var(--BRAND_COLOR_LIGHT);
	padding: 3px 10px;
	padding: 3px 10px;
}

.top-bar-user-btn {
	border-radius: 5px;
	display: inline-block;
	padding: 2px 10px;
	width: 50px;
}

.footer {
	padding: 50px;
	font-size: 80%;
	text-align: center;
}

.main-frame {
	width: 100%;
	display: flex;
}

#stage {
	position: relative;
	padding-top: 10px;
	margin: 0 20px;
}

.form-layer-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	display: flex;
	justify-content: center;
}

.form-layer-modal .form {
	padding: 54px;
}

.lite-ui #stage {
	margin: 30px;
}

.stage-container {
	min-height: calc(100vh - 177px);
	vertical-align: top;
	min-width: 600px;
	flex-shrink: 1;
}

.modal {
	margin-top: 10%;
	display: inline-block;
	cursor: default;
	max-width: 90%;
	max-height: 80%;
	overflow-y: auto;
	overflow-x: auto;
}

.modal-backdrop {
	text-align: center;
	background: rgba(0, 0, 0, 0.35);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.notify-area {
	position: fixed;
	right: 0;
	bottom: 30px;
	width: 350px;
	z-index: 12;
}

.notify-block {
	background: #765;
	border: 1px solid #a98;
	color: #fed;
	border-radius: 100px;
	padding: 12px;
	margin: 3px;
	cursor: pointer;
}

.loading-icon {
	padding-top: 50px;
	text-align: center;
	color: #ccc;
}

.prompt-body {
	border-radius: 100px;
	min-width: 700px;
	display: inline-block;
	background: var(--BG_COLOR);
	padding: 30px;
}

.prompt-footer {
	margin-top: 30px;
}

.prompt-yes-button {
	background: #f84c4c;
	padding: 10px 55px 10px 40px;
}

.prompt-no-button {
	background: transparent;
	padding: 10px 45px 10px 40px;
}

.select-control-wrapper {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.disabled .select-control-wrapper {
	background: unset,
}

.select-control {
	position: relative;
	padding: 8px 14px;
	background-color: var(--INPUT_COLOR);
	min-width: 130px;
	border-radius: 30px;
}

.select-control-list {
	box-shadow: 0px 7px 24px 10px rgba(66, 68, 90, 1);
	margin-left: 10px;
	position: absolute;
	margin-top: -2px;
	z-index: 4;
	background: var(--BG_COLOR);
	padding: 7px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.select-control-item {
	border-radius: 20px;
	padding: 6px 20px;
	background: var(--INPUT_COLOR);
	margin-bottom: 1px;
}

.select-control-item:hover {
	background: var(--BRAND_COLOR_DARK);
}

.select-control-caret {
	position: absolute;
	right: 2px;
	top: 8px;
}

.middle-size-input {
	height: 64px;
	min-height: 36px;
	max-width: 830px;
	min-width: 380px;
}

.large-input {
	height: 206px;
	min-height: 36px;
	max-width: 830px;
	min-width: 380px;
}

.field-date-time-time {
	display: inline-block;
	width: 25%;
	max-width: 120px;
	margin-right: 20px;
}

.field-date-time-date {
	display: inline-block;
	width: 70%;
	max-width: 220px;
}

.field-boolean {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	border-radius: 30px;
	background: var(--INPUT_COLOR);
}

.field-boolean-check {
	display: inline;
	font-size: 160%;
}

.field-boolean-read-only-compact {
	font-size: 130%;
	color: #4a2;
}

.field-lookup-icon-pic {
	height: 30px;
	width: auto;
	margin: -5px;
	margin-right: 8px;
	border-radius: 5px;
	vertical-align: middle;
}

.field-lookup-right-block {
	white-space: nowrap;
}

.field-lookup-icon-pic-empty {
	display: inline-block;
	background-color: var(--BRAND_COLOR);
	width: 30px;
}

.field-lookup-loading-icon-container {
	text-align: center;
	color: #ccc;
	padding: 5px;
}

.field-lookup-drop-list {
	box-shadow: 0px 7px 24px 10px rgba(66, 68, 90, 1);
	position: absolute;
	z-index: 8;
	min-width: 550px;
	background-color: var(--BG_COLOR);
	width: 100%;
	padding: 6px 5px;
	font-size: 80%;
	border-radius: 16px;
	margin-bottom: 400px;
	box-sizing: border-box;
}

.field-lookup-drop-list .form {
	padding: 10px;
}

.field-lookup-wrapper .list-header {
	margin-bottom: 0;
}

.clear-btn {
	display: inline-block;
	border-radius: 30px;
	background-color: transparent;
	color: var(--DELETE_COLOR);
}

.field-lookup-value-label {
	color: #aaa;
	margin-left: 8px;
	vertical-align: initial;
	display: inline-block;
	font-size: 75%;
	font-weight: bold;
}

.field-lookup-wrapper {
	position: relative;
	display: inline-flex;
	width: 100%;
	min-width: 320px;
}

.field-lookup-chooser {
	background-color: var(--INPUT_COLOR);
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	white-space: nowrap;
	border-radius: 30px;
	padding: 5px 8px;
	width: 100%;
}

.field-lookup-value {
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box
}

.field-lookup-caret {
	display: inline-block;
	vertical-align: middle;
}

.field-readonly-image {
	border-Radius: 5px;
}

.list-item .field-readonly-image {
	max-height: 34px;
	width: auto;
	margin: 3px 10px;
}

.form-compact .field-readonly-image {
	max-height: 34px;
	width: auto;
}

.image-crop-preview {
	border-radius: 5px;
}

.image-copper-popup {
	width: 900px;
}

.image-copper-body {
	width: 900px;
}

.image-copper-controls {
	margin-top: 12px;
	text-align: center;
}

.image-copper-crop-btn {
	background: #382;
	color: #fff;
}

.image-copper-cancel-btn {
	color: rgb(99, 99, 99);
}

.image-copper-preview {
	margin: 15px;
	overflow: hidden;
	border: 1px dashed #ccc;
	border-radius: 5px;
}

.lookup-n2m-item {
	display: flex;
	position: relative;
	margin-bottom: 5px;
	align-items: center;
}

.lookup-n2m-item-drag {
	outline: 3px solid #0d5;
}

.lookup-n2m-item>.field-lookup-wrapper {
	display: inline-block;
	flex-grow: 2;
}

.lookup-n2m-item .field-container-type-lookup-n-to-m {
	margin: 0;
	flex-grow: 1;
}

.rating-star {
	color: #f54223;
	margin-left: 0;
	margin-right: 0;
}

.field-color-input {
	vertical-align: middle;
	width: 130px;
	display: inline-block;
	margin-right: 5px;
}

.field-color-preview-bg {
	background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzs7O////TowvlgAAABdJREFUeNpiYAACRiBgwMMgJA8EAAEGAATIACGnjpkGAAAAAElFTkSuQmCC) repeat;
	border-radius: 5px;
	width: unset;
}

.form-edit .field-color-preview-bg {
	pointer-events: none;
	margin-left: -135px;
}

.field-color-input-alpha-slider {
	cursor: pointer;
}

.field-color-input-alpha-input {
	width: 66px;
}

.field-color-input-picker {
	cursor: pointer;
}

.form-compact .field-color-preview-bg {
	width: 42px;
}

.field-color-preview {
	margin: 6px;
	height: 24px;
	width: 116px;
	border: 1px solid #777;
	border-radius: 4px;
}

.form-item-row .field-color-preview {
	width: 40px;
	margin: 5px;
	height: 22px;
}

.field-button {
	padding: 5px 20px 6px 20px;
	font-size: 80%;
	background: var(--EDIT_COLOR);
	color: #fff;
}

.field-file-link {
	color: #227;
	font-weight: bold;
	font-size: 85%;
	margin-right: 10px;
}

.selected-file {
	background-color: var(--BRAND_COLOR_DARK);
	border-radius: 40px;
	padding: 7px 20px;
	margin: 5px;
}

.form-full {
	padding-left: 20px;
	margin-bottom: 7px;
}

.lite-ui .form-full {
	padding-left: 0;
}

.inline-editable-item .form-full {
	padding-left: 0;
}

.form-layer-modal .form-modal-container {
	position: relative;
	max-width: 1124px;
	margin: 30px auto;
	padding: 30px;
	overflow-y: scroll;
	overflow-x: clip;
	max-height: calc(100% - 120px);
	background-color: var(--BG_COLOR);
	border-radius: 20px;
}

.form {
	position: relative;
}

.form-footer {
	text-Align: left;
	margin-Top: 65px
}

.form-header {
	color: var(--BRAND_COLOR_HEADER);
	margin: 10px;
}

.form .header-tabs {
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: var(--INPUT_COLOR);
	margin: 20px -20px 0 -20px;
	padding: 30px 20px 0 20px;
	background: linear-gradient(0deg, var(--INPUT_COLOR) 0%, var(--INPUT_COLOR) 50%, var(--BG_COLOR) 100%);
}

.header-tab-wrap {
	position: relative;
}

.tab-header-button {
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	margin-right: 2px;
	border-bottom: none;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	overflow: hidden;
}

.tab-header-button-active {
	bottom: -1px;
	background: var(--BG_COLOR);
}

.tab-header-button-inactive {
	background: linear-gradient(0deg, var(--INPUT_COLOR) 0%, var(--BG_COLOR) 50%, var(--BG_COLOR) 100%);
}

.form-item-row {
	padding: 4px 15px;
	vertical-align: middle;
	overflow: hidden;
	white-Space: normal
}

.form-item-row-num {
	text-align: right;
	white-space: nowrap;
}

.form-item-row-buttons {
	white-space: nowrap;
	text-align: right;
}

.list-item-draft {
	opacity: 0.3;
}

.form-container-node-fields,
.form-container-node-nodes {
	font-family: 'Courier New', Courier, monospace !important;
	--BG_COLOR: rgb(43, 37, 33);
}

.form-container-node-nodes .form-item-row-buttons .danger-btn,
.form-container-node-nodes .delete-button {
	display: none;
}



.form-tab-highlight {
	margin-bottom: 10px;
	border: 2px solid #944;
}

.page-btn {
	background: var(--BRAND_COLOR);
	margin: 10px 2px;
	border-radius: 20px;
}

.page-btn-active {
	vertical-align: middle;
	background: var(--BRAND_COLOR_DARK);
}

.inline-editable-item {
	display: inline-block;
	width: 80%;
	margin-bottom: 4px;
	margin-top: 4px;
}

.inline-editable-item .field-container-name-order {
	display: none;
}

.inline-editable-item .form {
	display: inline-block;
}

.list-search {
	position: relative;
	display: inline-flex;
	border-radius: 20px;
	align-items: center;
}

.list-search .tool-btn {
	display: flex;
	height: 32px;
	align-items: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.list-search-input {
	vertical-align: middle;
	padding: 2px 12px;
	border-radius: 20px;
}

.search-clear-btn {
	right: 30px;
}

.list-header {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-row-header {
	vertical-align: middle;
	font-weight: bold;
	border-bottom: 1px solid var(--BRAND_COLOR);
	color: var(--BRAND_COLOR_SHINE);
	padding: 10px 15px;
	white-space: nowrap;
}

.list-row-header-num {
	text-align: right;
}

.list-row-header-sorting {
	color: var(--EDIT_COLOR);
	text-decoration: underline;
}

.list-table {
	width: 100%;
}

.list-empty-icon {
	display: block;
	margin: 50px;
}

.list-empty {
	color: var(--BRAND_COLOR_LIGHT);
	text-align: center;
	font-size: 140%;
}

.list-paginator-items {
	margin-left: 15px;
}

.list-paginator {
	color: var(--BRAND_COLOR_LIGHT);
	margin-top: 30;
	font-size: 75%;
}

.user-avatar {
	width: 50px;
	border-radius: 50%;
	border: 3px solid var(--BRAND_COLOR_LIGHT);
}

.login-form {
	max-width: 550px !important;
	text-align: center;
}

.email-highlight {
	color: #070;
	margin: 40px;
	font-weight: bold;
}

.link-button-field .field-button {
	background: transparent;
	color: var(--BRAND_COLOR_SHINE);
	text-decoration: underline;
	font-weight: 600;
}

.filter-select {
	display: inline-block;
	width: 200px;
}

.social-buttons {
	margin-top: 20px;
	display: inline-block;
}

.sign-in-button .field-button {
	padding: 15px 30px;
}

.shake {
	animation: shake-animation linear 0.3s;
	animation-iteration-count: 2;
	transform-origin: 50% 50%;
}

.form-item-row .field-container-name-name {
	color: var(--MAIN_TEXT_COLOR);
	font-size: 120%;
}

.field-wrap {
	max-width: 900px;
	margin: 15px 0;
}


.field-wrap-disabled .field-wrap-value>*:first-child {
	opacity: 0.5;
	pointer-events: none;
}


.field-wrap.field-container-type-static-html-block {
	margin: 0;
}

.form-full .field-wrap-inline {
	vertical-align: top;
	display: inline-block;
	margin-right: 40px;
	min-width: 70px;
}

.field-wrap-lang {
	margin-top: -22px;
}

.form-compact .field-wrap {
	display: inline-block;
	vertical-align: middle;
	margin: 1px;
}

.field-wrap-value {
	position: relative;
	vertical-align: top;
	color: var(--TEXT_COLOR);
	font-size: 110%;
}

.field-wrap-value-no-label {
	width: 100%;
}

.field-wrap-label {
	padding: 3px;
	padding-left: 13px;
	font-size: 80%;
	font-weight: bold;
	color: var(--BRAND_COLOR_LIGHT);
	display: flex;
	text-align: right;
	justify-content: flex-start;
	align-items: center;
}

.field-wrap-label .fa {
	margin-left: 0;
}

.field-wrap-help-container {
	display: inline-flex;
	position: relative;
	width: 0;
	left: 30px;
	bottom: 14px;
	overflow: visible;
	color: #707072;
}

.field-wrap-help {
	position: absolute;
	right: 0;
	color: #707072;
}

.field-wrap-help-body {
	position: absolute;
	z-index: 2;
	width: 300px;
	margin-left: -320px;
	margin-top: -50px;
	background: #707072;
	color: #f0f0f2;
	padding: 10px 30px;
	border-radius: 200px;
	font-size: 80%;
}

.field-wrap-required-star {
	color: red;
	font-size: 80%;
	vertical-align: top;
	margin-left: 2px;
}

.field-wrap-alert {
	display: inline-block;
	color: #f33;
	margin-top: 4px;
	margin-left: 13px;
}

.field-wrap-alert-success {
	color: unset;
}

.field-wrap-label-lang {
	color: #aaa;
	font-size: 65%;
}

.field-wrap-tooltip {
	position: absolute;
	z-index: 2;
	margin-top: 8px;
	white-space: nowrap;
	pointer-events: none;
}

.field-wrap-tooltip-arrow {
	color: var(--BRAND_COLOR);
	margin: -1px;
}

.field-wrap-tooltip-body {
	background: var(--BRAND_COLOR);
	border-radius: 40px;
	color: #ddc;
	padding: 10px 20px;
}


.field-wrap-readonly .field-wrap-value {
	margin: 3px;
	display: inline-block;
	font-weight: bold;
	font-size: 120%;
}

.field-container-type-splitter {
	box-shadow: 0px -9px 11px 0px var(--INPUT_COLOR);
	border-top: 1px solid var(--BRAND_COLOR_DARK);
	margin-top: 50px;
	max-width: unset;
	margin-left: -20px;
	margin-right: -20px;
	padding: 5px;
	padding-left: 20px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.field-container-type-splitter .field-wrap-label {
	margin-top: 10px;
	margin-bottom: -5px;
	font-size: 120%;
	color: var(--BRAND_COLOR_HEADER);
}


@keyframes shake-animation {
	0% {
		transform: translate(0px, 0px);
		outline: rgba(255, 0, 0, 1) solid 1px;
	}

	25% {
		transform: translate(5px, 0px);
		outline: rgba(255, 0, 0, 1) solid 1px;
	}

	77% {
		transform: translate(-5px, 0px);
		outline: rgba(255, 0, 0, 0) solid 1px;
	}

	100% {
		transform: translate(0px, 0px);
		outline: rgba(255, 0, 0, 0) solid 1px;
	}
}