:root {
	--BRAND_COLOR: #678;
	--BRAND_COLOR_HEADER: #678;
	--BRAND_COLOR_SHADOW: #456;
	--BRAND_COLOR_DARK: #345;
	--BRAND_COLOR_LIGHT: #89a;
	--BRAND_COLOR_SHINE: #def;
	--TEXT_COLOR: #303539;

	--CREATE_COLOR: #3b8;
	--DELETE_COLOR: #b55;
	--EDIT_COLOR: #37b;
	--PUBLISH_COLOR: #f84c4c;
	--UNPUBLISH_COLOR: #b83;
	--VIEW_COLOR: #0ab;

	--SUCCESS_ALERT_BG: #f2f2f2;
	--ERROR_ALERT_BG: #fee
}